/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
h4, h5, h6,
h1, h2, h3 {margin: 0;}
ul, ol, li{margin: 0;}
p {margin: 0;}
body{
	margin:0;
	padding:0;
}
/*--fonts--*/
@font-face{
    font-family: 'OpenSans-Regular';
    src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
}
.header-top{
	background:#141127;
	padding: 1em 0em;
}
.header-top p{
	font-family: 'Monda', sans-serif;
	font-size:16px;
	font-weight:400;
	color:#fff;
}
.navbar-header a.navbar-brand.logo-st,.navbar-header a.navbar-brand.logo-st:hover{
	font-family: 'Roboto Slab', serif;
	font-weight:700;
	font-size: 35px;
	text-decoration:none;
	color:#309BBE;
	margin-top: 2px;
}
nav.navbar.navbar-default.chn-gd{
	background-color: #fff;
	border-bottom: 1px solid #EBEBEB;
	padding: 1em 0em;
	margin: 0;
}
.icn_pos {
	font-size: 16px;
	padding-left:20px;
}
.icn_pos.hm{
	padding-left:12px;
}
.icn_pos.hm2 {
	padding-left: 40px;
}
.navbar-default .navbar-nav>li{
	border-right:1px solid rgba(48, 155, 190, 0.44);
	padding: 0px 5px 0px;
}
.navbar-default .navbar-nav>li:nth-child(5){
	border-right:none;
}
.navbar-default .navbar-nav>li>a:focus,.navbar-default .navbar-nav>li>a{
	padding: 4px 12px;
	color: #309BBE !important;
	font-family: 'Roboto Slab', serif;
	font-weight: 500;
	font-size: 16px;
}
.carousel-indicators .active {
	background-color: #064042 !important;
}
.carousel-indicators li {
