{% extends "layout.html" %}
			
{% block body %}
				<!-- Wrapper for slides -->
				<div>
					<div class="item active  image-wid">
					<img src="{{ url_for('static', filename='images/1z.jpg') }}" alt="..." class="img-responsive"> 
					<div class="carousel-caption">
					
				       <div class="row mainbox col-md-3 col-md-offset-3 col-sm-8 col-sm-offset-2">
					    <form action="{{url_for('signin')}}" method="POST">
								  <div class="title animated fadeInDown" data-animation="fadeInDown" data-animation-delay=".8s" style="animation-delay: 0.8s;">
									  <h1>Login</h1>
								  </div>
									<div id="form_1" data-animation="bounceIn" class="animated bounceIn">
										<div class="form-header">
										  <i class="fa fa-user"></i>
									  </div>
									  <div class="form-main">
										  <div class="form-group">
								  			<input type="text" id="un_1" id="username" name="username" class="form-control" placeholder="Username" required="required">
												<input type="password" id="password" name="password" class="form-control" placeholder="Password" required="required">
										  </div>
									   <button id="signIn_1" type="submit" class="btn btn-block signin">Sign In</button> 
										<!-- <a class="btn btn-block signin " href="#acheive">Sign In</a>-->
									  </div>
										<div class="form-footer">
											<div class="row">
												<div class="col-xs-7">
													<i class="fa fa-unlock-alt"></i>
													<a href="#password_recovery" id="forgot_from_1">Forgot password?</a>
												</div>
												<div class="col-xs-5">
													<i class="fa fa-check"></i>
													<a href="#signup_window" id="signup_from_1">Sign Up</a>
												</div>
											</div>
										</div>		
								  </div>
								</div>
                         </div> 
                      </div>
                  </div>  
             </div>
       
    </div>
    
{% endblock %}		