{% extends "layout.html" %}
			
{% block body %}
				
			<!--	<p>{{ session['username'] }} - Successfull</p>
				<a href=''> Sign out</a> -->

		<!--	<div class="acheivments" id="dashboard">

			<nav class="navbar navbar-default">
			  <div class="container-fluid">
				<div class="navbar-header"> <h3>Dashboard</h3>
				
					
				  </a> 
				</div>
			  </div>
			</nav>
			
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							
								<div class="panel-body">
									<div class="row">
										<div >
										
										  
										  <a href="#" class="btn btn-warning btn-lg" role="button"><span class="big">5</span> <br/>Open Tickets </a>

										   <a href="#" class="btn btn-danger btn-lg" role="button"