{% extends "layout.html" %}
			
{% block body %}
				
			<!--	<p>{{ session['username'] }} - Successfull</p>
				<a href=''> Sign out</a> -->

		<!--	<div class="acheivments" id="dashboard">

			<nav class="navbar navbar-default">
			  <div class="container-fluid">
				<div class="navbar-header"> <h3>Dashboard</h3>
				
					
				  </a> 
				</div>
			  </div>
			</nav>
			
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							
								<div class="panel-body">
									<div class="row">
										<div >
										
										  
										  <a href="#" class="btn btn-warning btn-lg" role="button"><span class="big">5</span> <br/>Open Tickets </a>

										   <a href="#" class="btn btn-danger btn-lg" role="button"><span class="big">11</span> <br/>Notifications </a>

										  <a href="#" class="btn btn-success btn-lg" role="button"><span class="big">12</span> <br/>Total Tickets </a>

										
									</div>
							</div>
						</div>
					</div>
				</div>

          </div> -->






		   


		 <div id="alltickets" class="acheivments">
		 <nav class="navbar navbar-default">
			  <div class="container-fluid">

				<div class="navbar-header"><h3>All tickets</h3>
				 <!-- <a class="navbar-brand" href="#">
					<img alt="Brand" src="..."> 
				  </a> -->
				</div>
			  </div>
			</nav>

			
			<div class="container">
				<table class="table table-striped table-bordered table-condensed table-hover">
					<thead>
						<th> Ticket ID </th>
						<th> Description </th>
						<th> Category </th>
						<th> Status </th>
					</thead>

					<tbody id="table-body">
					
					</tbody>
				</table>
              </div>
				<div class="container" id="loadContainer">
				<button class="btn btn-lg btn-success"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...</button>
			    </div>
		</div>
         <script>
         
			 $(document).ready(function() {
				   
                    var $gloader = $("#loadContainer");
					$.get('/gettkts', null)
					  .success(function (data) {
						  var $table = $('#table-body');
						  
						  //console.log(data);
						  response = $.parseJSON(data);
						  //console.log(response);
						  $table.empty();
						  $(function() {
								$.each(response, function(i, item) {
									
									var stateString="";
									switch (item.state) {
										case '1':
											stateString = "New";
											break;
										case '2':
											stateString = "Active";
											break;
										case '3':
											stateString = "Awaiting Problem";
											break;
										case '4':
											stateString = "Awaiting User Info";
											break;
										case '5':
											stateString = "Awaiting Evidence";
											break;
										case '6':
											stateString = "Resolved";
											break;
										case '7':
											stateString = "Closed";
											break;
										case '8':
											stateString = "Work in Progress";
											break;
									    default: 
										    stateString = "Unknown";
									}
									if(item.short_description.length>2)
									{
										var $tr = $('<tr>').append(
											$('<td>').text(item.number),
											$('<td>').text(item.short_description),
											$(