<html>
<head>
<style>
ol
{
list-style:none;
margin:0px;
padding:0px;
}
.stbody
{
min-height:70px;
margin-bottom:10px;
border-bottom:dashed 1px #cc0000;
}
.stimg
{
float:left;
height:50px;
width:50px;
border:solid 1px #dedede;
padding:5px;
}
.sttext
{
margin-left:70px;
min-height:50px;
word-wrap:break-word;
overflow:hidden;
padding:5px;
display:block;
font-family:'Georgia', Times New Roman, Times, serif
}
</style>
</head>
<div class="stbody">

<div class="stimg">
<img src="/static/images/tick.png" />
</div> 
<div class="sttext">
Your Proxy issue has been resolved. If you experience any issue, please <a href="mailto:holmes.diy@wipro.com">Contact us</a> 
<div class="sttime">2 seconds ago</div> 
</div> 

</div>

</html>